@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* colors
  #F9EFDB
  #EBD9B4
  #9DBC98
  #638889
  #E5E6E1
  #343436
*/

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}
body {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid black;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

/* HOME PAGE CSS */

.recipesPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe {
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.recipe:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.recipe .title {
  margin-top: 15px;
  display: grid;
  place-content: center;
}

.recipe .image {
  display: grid;
  place-content: center;
  border-radius: 0 0 20px 20px;
  height: 300px;
  object-fit: cover;
}

/* .recipe .ingredients && .recipe .ingredients {
  flex: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
} */

/* .recipe .ingredients .ingredient && .recipe .ingredients .ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
} */

/* CREATE RECIPE PAGE CSS */

.createRecipePage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vh;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  align-self: center;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #343436;
  margin-bottom: 20px;
}

.formContainer label {
  font-size: 15px;
  font-weight: 500;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formContainer #inputCreateRecipe {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #f3f3f3;
  opacity: 0.7;
}

.formContainer #inputDelete {
  padding: 10px;
  margin-left: 10px;
  height: 35px;
  font-weight: bold;
}

.formContainer button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border: none;
  background-color: #343436;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px;
}

.formContainer button:hover {
  cursor: pointer;
  opacity: 0.8;
}

span {
  color: red;
}

/* RECIPE PAGE CSS */

.recipePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #9dbc98;
  width: 100%;
}

.recipeTitle {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Image styling */
.recipeImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid #f9efdb;
}

.recipeIngredientsTitle,
.recipeInstructionsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.recipeIngredients {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.recipeInstructions {
  line-height: 1.5;
}
